<div class=nav>
    <ul class=list>
        <li class="list-item"><img src="assets/estafinal.png" alt=""></li>
        <li class="list-item"><h5>Live Feed</h5></li>
        <li class="list-item"><h5>Calendar</h5></li>
        <li class="list-item"><h5>Apps</h5></li>
        <li class="list-item"><h5>Elements </h5></li>
       <!-- <li class="list-item"><i class="fas fa-bars"></i></li>-->
        
    </ul>
    <ul clas=list>
        <li class="list-item input-icons">
            <input type="text" placeholder="Search...">
        </li>
        
        
    </ul>
</div>