<div class="principal">
    <ul class="list">
        <li class="list-item">
            <div class="card-1">
                <div class="card">
                    <div class="card-body">
                        <img class="img1" src="assets/estadistic.png " alt="">
                        <div class="card-separador">
                            <div class="card-vertical">
                                <h5>$4230</h5>
                                <small>Total individe</small>
                            </div>
                            <div class="card-vertical">
                                <h5>321</h5>
                                <small>Today sales</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-2">
                <div class="card">
                    <div class="card-body card-body-2">
                        <img class="img1" src="assets/graTorta.png" alt="">
                        <div class="card-separador">
                            <div class="card-detallado">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </li>

        <li class="list-item">
            <div class="card c-2">
                <div class="card-body">
                    <p><strong>Project Status    < ></strong> </p>
                    <img class="img2" src="assets/public.jpg" alt="">
                    <div class="card-separador">
                        <div class="card-vertical">
                            <h5>  <strong>Nike Shoes</strong></h5>
                           <p>los mejores tennis deportivos <br> para la calle, paseo y parrandas </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
