<div class="primer">
    <h5>Dashboards</h5>
    <div class="dropdown">
        <span class="span"> <i class="fas fa-house-user"></i>    Dashboards  </span>
        <div class="dropdown-content">
          <strong><p>Multipupose</p></strong>
          <p>Analytical</p>
          <p>eCommerce</p>
          <p>Modern</p>
        </div>
      </div>
      <h5>Applications</h5>
      <div class="dropdown">
          <div class="dropdown-content">
            <p><i class="fas fa-sms"></i>Inbox</p>
            <p><i class="far fa-edit"></i>Ticket</p>
            <p><i class="fas fa-archive"></i>Extra</p>
          </div>
        </div>
</div>